@import url('http://api.mobilis.co.kr/webfonts/v2/css/NanumBarunGothicWeb');
/*
body { 
	font-family: 'NanumBarunGothicWeb'; 
	margin : 0;
	padding : 0;
}
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


